<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>区块链demo</title>
<!--    <script type="text/javascript" src="./bignumber.min.js"></script>
    <script type="text/javascript" src="./web3-light.js"></script>

    <script type="text/javascript">
        var Web3 = require('web3');
        var web3 = new Web3();

        web3.setProvider(new web3.providers.HttpProvider('http://localhost:8545'));
    </script>-->
</head>
<body>
<div id="root"></div>
<script src="./common.js"></script>
<script src="./index.js"></script>
</body>
</html>